<!--
<ion-segment>
  <ion-segment-button checked>
    Segment 1
  </ion-segment-button>
  <ion-segment-button>
    Segment 2
  </ion-segment-button>
  <ion-segment-button>
    Segment 3
  </ion-segment-button>
</ion-segment>
-->
<ion-list>
  <ion-item (click)="closePopover(1)">
    <ion-label>
      List Item 1
    </ion-label>
  </ion-item>
  <ion-item (click)="closePopover(1)">
    <ion-label>
      List Item 2
    </ion-label>
  </ion-item>
  <ion-item (click)="closePopover(1)">
    <ion-label>
      List Item 3
    </ion-label>
  </ion-item>
</ion-list>

